[build]
  functions = "netlify/functions"
  publish = "."
 
  command = "echo 'Building Backend...'" 

[[redirects]]
  force = true
  from = "/api/*"
  status = 200
  to = "/.netlify/functions/api/:splat"